@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password Reset Request Sent";
}

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel z-depth-3">
                <h4 class="center-align blue-text text-darken-2">@ViewData["Title"]</h4>
                <div class="divider"></div>
                <div class="section">
                    <p class="center-align">
                        <i class="large material-icons green-text">check_circle</i>
                    </p>
                    <p class="center-align">
                        We've sent a password reset link to your email address. Please check your inbox and follow the instructions to reset your password.
                    </p>
                </div>
                <div class="divider"></div>
                <div class="section">
                    <h5 class="center-align">What's Next?</h5>
                    <ul class="collection">
                        <li class="collection-item">
                            <i class="material-icons left blue-text">email</i>
                            Check your email inbox
                        </li>
                        <li class="collection-item">
                            <i class="material-icons left blue-text">link</i>
                            Click on the password reset link
                        </li>
                        <li class="collection-item">
                            <i class="material-icons left blue-text">lock_open</i>
                            Create a new password
                        </li>
                    </ul>
                </div>
                <div class="section center-align">
                    <a href="/" class="btn waves-effect waves-light blue darken-2">
                        Back to Home
                        <i class="material-icons right">home</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card-panel {
        padding: 24px;
        margin: 2rem 0;
    }

    .collection .collection-item {
        display: flex;
        align-items: center;
    }

        .collection .collection-item i {
            margin-right: 10px;
        }
</style>