@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel z-depth-3">
                <h4 class="center-align blue-text text-darken-2">@ViewData["Title"]</h4>
                <p class="center-align">Enter your email to reset your password.</p>
                <form method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="red-text"></div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input asp-for="Input.Email" type="email" class="validate" required>
                            <label asp-for="Input.Email">Email</label>
                            <span class="helper-text" data-error="Please enter a valid email" data-success="Valid email format">Enter your registered email</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn-large waves-effect waves-light blue darken-2" type="submit">
                                Reset Password
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="center-align margin-top-20">
                <a asp-page="./Login" class="blue-text">Remember your password? Log in</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .card-panel {
        padding: 24px;
        margin: 2rem 0;
    }
    .margin-top-20 {
        margin-top: 20px;
    }
</style>