@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password Reset Successful";
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel green lighten-1 z-depth-3 margin-top-50px">
                <h4 class="center-align white-text">Password Reset Successful</h4>
                <p class="center-align white-text">
                    Your password has been successfully changed.
                </p>
            </div>
            <div class="center-align margin-top-20px">
                <a href="/Identity/Account/Login" class="btn waves-effect waves-light blue darken-2">
                    Go to Login
                    <i class="material-icons right">login</i>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .margin-top-50px {
        margin-top: 50px;
    }

    .margin-top-20px {
        margin-top: 20px;
    }
</style>